###############################################################################
## After you launch your environment, set unique values for these properties
## using the EB CLI's 'eb setenv' command, or the software settings screen in
## Configuration menu for your environment in the Elastic Beanstalk management
## console. Settings using these methods will override the values set in this
## file, and will not be visible in your source code.
###############################################################################

option_settings:
  aws:elasticbeanstalk:application:environment:
    AUTH_KEY: 'hp#UM%<FL@l@f+|[)_$ TID=4C^xXYv 8ju2=l|a:;~fF[^G+}+:>,qA-QT<U-rO'
    SECURE_AUTH_KEY: 'L8Rg8MF6x`6`;UdBIypB>@;iYfJ,kBcw1 N+$ D!|t$r4SW2V069#4ETh-Ib;()q'
    LOGGED_IN_KEY: '@fl|@J7}c }5>[?aV>FoiVPJag|O+-7!CxLP( wWFb15p;|2B9]Z@2Z$4R5_d,T|'
    NONCE_KEY: '/-,:h h:F~h&LhO(1)DCpRYHTTh%Li:QRQR>c-yaE$}/wc-V+}~ ET(cE6zzUX9w'
    AUTH_SALT: 'L7tkc~4z)+,,nsI<[t._BL7J8`;u:JTMLqmx:a{>H|dQh>m<|*W,$/UVB56wQq7A'
    SECURE_AUTH_SALT: '2ad`5uD]K_%k|w&e<-_f%3}cw+#U>tu<jmKdc6/!+ND4tBbqU<|l;Q0LzdknS82S'
    LOGGED_IN_SALT: '3i@Io|kJjaaGo49WQ}.Ia_kO|)[|plQPE)t%*F>.|XD3j|<8LQ@;$7Yh-T]nLMsr'
    NONCE_SALT: '&A8D-v]dEZuP2Cu$|0/+WK?}&VBIpAqhEHk^Rj>eQCDbCKwz.Rbl<{AWh4qz-]0a'
    RDS_HOSTNAME: 'smb-dwh-dev.cluster-c9teojsqesw4.us-west-2.rds.amazonaws.com'
    RDS_PORT: '3306'
    RDS_DB_NAME: 'wordpress_EFS'
    RDS_USERNAME: 'mysmbuser'
    RDS_PASSWORD: '3xtr4c710n'